{% extends "layouts/vertical.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/css/pages/front-page-landing.css') }}" />

{% endblock %}

{% block content %}
<!-- Contact Us: Start -->
<section id="landingContact" class="section-py bg-body landing-contact">
    <div class="container">
      <div class="text-center mb-4">
        <span class="badge bg-label-primary">Get in touch</span>
      </div>
      <h4 class="text-center mb-1">
        <span class="position-relative fw-extrabold z-1"
          >How Do I Contact
          <img
            src="{{ url_for('static', filename='img/front-pages/icons/section-title-icon.png') }}"
            alt="laptop charging"
            class="section-title-img position-absolute object-fit-contain bottom-0 z-n1" />
        </span>
        Bloxxxchain?
      </h4>
      <p class="text-center mb-12 pb-md-4">Available 24/7 to serve our customers and answer any potential queries.</p>
      <div class="row g-6">
        <div class="col-lg-5">
          <div class="contact-img-box position-relative border p-2 h-100">
            <img
              src="{{ url_for('static', filename='img/front-pages/icons/contact-border.png') }}"
              alt="contact border"
              class="contact-border-img position-absolute d-none d-lg-block scaleX-n1-rtl" />
            <img
              src="https://i.ibb.co/gLbMbL5F/E3-FF83-ED-8600-4-A79-9457-C4-AB9-D621-DFA.png"
              alt="contact customer service"
              class="contact-img w-100 scaleX-n1-rtl" />
            <div class="p-4 pb-2">
              <div class="row g-4">
                <div class="col-md-6 col-lg-12 col-xl-6">
                  <div class="d-flex align-items-center">
                    <div class="badge bg-label-primary rounded p-1_5 me-3">
                      <i class="icon-base ti tabler-mail icon-lg"></i>
                    </div>
                    <div>
                      <p class="mb-0">Email</p>
                      <h6 class="mb-0">
                        <a href="mailto:support@bloxxxchain.com" class="text-heading">support@bloxxxchain.com</a>
                      </h6>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-12 col-xl-6">
                  <div class="d-flex align-items-center">
                    <div class="badge bg-label-success rounded p-1_5 me-3">
                      <i class="icon-base ti tabler-phone-call icon-lg"></i>
                    </div>
                    <div>
                      <p class="mb-0">Whatsapp</p>
                      <h6 class="mb-0"><a href="https://wa.me/17203353834" class="text-heading">+1 (720) 335 3834</a></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="card h-100">
            <div class="card-body">
              <h4 class="mb-2">Send a message</h4>
              <p class="mb-6">
                If you would like to discuss anything related to payment, account, licensing,<br
                  class="d-none d-lg-block" />
                partnerships, or have pre-sales questions, you’re at the right place.
              </p>
              {{ form.hidden_tag() }}
              <form method="POST" action="{{ url_for('main.contact') }}">
                <div class="row g-4">
                  <div class="col-md-6">
                    {{ form.full_name.label(class="form-label") }}
                    {{ form.full_name() }}
                    {% if form.full_name.errors %}
                      <div class="text-danger">
                        {% for error in form.full_name.errors %}
                          <small>{{ error }}</small><br>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  
                  <div class="col-md-6">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email() }}
                    {% if form.email.errors %}
                      <div class="text-danger">
                        {% for error in form.email.errors %}
                          <small>{{ error }}</small><br>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  
                  <div class="col-12">
                    {{ form.message.label(class="form-label") }}
                    {{ form.message() }}
                    {% if form.message.errors %}
                      <div class="text-danger">
                        {% for error in form.message.errors %}
                          <small>{{ error }}</small><br>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  
                  <div class="col-12">
                    <button class="btn btn-primary" type="submit">
                      {{ form.submit.label.text }}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Us: End -->


{% endblock %}


{% block extra_js %}
<script src="{{ url_for('static', filename='js/front-page-landing.js') }}"></script>

{% endblock %}