<!doctype html>

<html
  lang="en"
  class="layout-navbar-fixed layout-menu-fixed layout-compact"
  dir="ltr"
  data-skin="default"
  data-assets-path="../../assets/"
  data-template="vertical-menu-template-starter"
  data-bs-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />


    <meta name="description" content="" />
    <title>Bloxxxchain™ | Invest in Bitcoin, Ethereum, 100+ assets | Auto buy low and sell high Altcoin/Bitcoin bot | Swap | Copy Top Traders</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fonts/iconify-icons.css') }}" />

    <!-- Core CSS -->
    <!-- build:css assets/vendor/css/theme.css  -->

    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% block extra_css %}{% endblock %}

    <!-- endbuild -->

    <!-- Page CSS -->
  </head>

  <body>
    

    <!-- Toasts -->
    <div id="toastContainer"
    class="toast-container position-fixed p-3 top-0 end-0"></div>

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu">
          <div class="app-brand demo">
            <a href="{{ url_for('main.index') }}" class="app-brand-link">
              <span class="app-brand-logo demo">
                <span class="text-primary">
                  <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M0.00172773 0V6.85398C0.00172773 6.85398 -0.133178 9.01207 1.98092 10.8388L13.6912 21.9964L19.7809 21.9181L18.8042 9.88248L16.4951 7.17289L9.23799 0H0.00172773Z"
                      fill="currentColor" />
                    <path
                      opacity="0.06"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M7.69824 16.4364L12.5199 3.23696L16.5541 7.25596L7.69824 16.4364Z"
                      fill="#161616" />
                    <path
                      opacity="0.06"
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M8.07751 15.9175L13.9419 4.63989L16.5849 7.28475L8.07751 15.9175Z"
                      fill="#161616" />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M7.77295 16.3566L23.6563 0H32V6.88383C32 6.88383 31.8262 9.17836 30.6591 10.4057L19.7824 22H13.6938L7.77295 16.3566Z"
                      fill="currentColor" />
                  </svg>
                </span>
              </span>
              <span class="app-brand-text demo menu-text fw-bold ms-3">Bloxxxchain</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
              <i class="icon-base ti menu-toggle-icon d-none d-xl-block"></i>
              <i class="icon-base ti tabler-x d-block d-xl-none"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Portfolio -->
            <li class="menu-item">
              <a href="" class="menu-link menu-toggle">
                <i class="menu-icon icon-base ti tabler-wallet"></i>
                <div data-i18n="Wallet">Portfolio</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{{ url_for('dashboard.show_portfolio') }}" class="menu-link">
                    <div data-i18n="Assets">Assets</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{{ url_for('wallet.deposit_crypto') }}" class="menu-link">
                    <div data-i18n="Deposit">Deposit</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{{ url_for('wallet.withdraw_crypto') }}" class="menu-link">
                    <div data-i18n="Withdraw">Withdraw</div>
                  </a>
                </li>
              </ul>
            </li>

            <!-- Trade -->
            <li class="menu-item">
              <a href="" class="menu-link menu-toggle">
                <i class="menu-icon icon-base ti tabler-exchange"></i>
                <div data-i18n="Trading">Trade</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{{ url_for('trading.swap') }}" class="menu-link">
                    <div data-i18n="Limit Trade">Swap</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{{ url_for('copytrade.trader_list') }}" class="menu-link">
                    <div data-i18n="Copy Trade">Copy Trade</div>
                  </a>
                </li>
              </ul>
            </li>
            
            <!-- Earn -->
            <li class="menu-item">
              <a href="" class="menu-link menu-toggle">
                <i class="menu-icon icon-base ti tabler-chart-pie"></i>
                <div data-i18n="Earn">Earn</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a href="{{ url_for('staking.mining_home') }}" class="menu-link">
                    <div data-i18n="Mining">Mining</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a href="{{ url_for('staking.staking_home') }}" class="menu-link">
                    <div data-i18n="Stakin">Staking</div>
                  </a>
                </li>
              </ul>
            </li>
            
            <!-- Transfer Balance -->
            <li class="menu-item">
              <a href="{{ url_for('wallet.transfer_balance') }}" class="menu-link">
                <i class="menu-icon icon-base ti tabler-arrows-transfer-up"></i>
                <div data-i18n="Transfer">Internal Transfer</div>
              </a>
            </li>

            <!-- Transaction History -->
            

            <!-- Referals -->
            <li class="menu-item">
              <a href="{{ url_for('main.referal') }}" class="menu-link">
                <i class="menu-icon icon-base ti tabler-refresh-dot"></i>
                <div data-i18n="Referals">Referals</div>
              </a>
            </li>

            <!-- Support -->
            <li class="menu-item">
              <a href="{{ url_for('main.contact') }}" class="menu-link">
                <i class="menu-icon icon-base ti tabler-help-circle"></i>
                <div data-i18n="Support">Tickets/Support</div>
              </a>
            </li>
          </ul>
        </aside>

        <div class="menu-mobile-toggler d-xl-none rounded-1">
          <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large text-bg-secondary p-2 rounded-1">
            <i class="ti tabler-menu icon-base"></i>
            <i class="ti tabler-chevron-right icon-base"></i>
          </a>
        </div>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar-detached navbar navbar-expand-xl align-items-center bg-navbar-theme"
            id="layout-navbar">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
                <i class="icon-base ti tabler-menu-2 icon-md"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center justify-content-end" id="navbar-collapse">
              
              <ul class="navbar-nav flex-row align-items-center ms-md-auto">
                {% if current_user.is_authenticated %}
                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a
                    class="nav-link dropdown-toggle hide-arrow p-0"
                    href="javascript:void(0);"
                    data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="{{ url_for('static', filename='img/avatars/default_avatar.jpg') }}" alt class="rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="{{ url_for('static', filename='img/avatars/default_avatar.jpg') }}" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <h6 class="mb-0">{{ current_user.username }}</h6>
                            <small class="text-body-secondary">{{ current_user.email }}</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider my-1 mx-n2"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ url_for('auth.user_settings')}}">
                        <i class="icon-base ti tabler-settings icon-md me-3"></i><span>Settings</span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider my-1 mx-n2"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ url_for('auth.logout') }}">
                        <i class="icon-base ti tabler-power icon-md me-3"></i><span>Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
                {% endif %}
              </ul>
             
            </div>
          </nav>

          <!-- / Navbar -->
          <!-- Flash Messages as Toasts -->
          <div class="position-fixed top-0 end-0 p-3" style="z-index: 1100">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="toast show align-items-center text-white bg-{{ category }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                      <div class="toast-body">
                        {{ message }}
                      </div>
                      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
            {% block content %}{% endblock %}
            <!-- / Content -->

            <!-- Footer -->
            <section id="adv-footer">

              <footer class="footer bg-light">
                <div class="container-fluid container-p-x pt-12 pb-6">
                  <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 mb-6 mb-sm-0">
                      <h4 class="fw-bold mb-4">
                        <a
                          href="#"
                          target="_blank"
                          class="footer-text"
                          >Bloxxxchain
                        </a>
                      </h4>
                      <span>Join our community</span>
                      <div class="social-icon rounded-circle my-4">
                        <a href="https://www.instagram.com/bloxhain" class="btn btn-icon btn-sm me-2">
                          <img src="https://i.ibb.co/pB4N2tdk/ig.png" alt="" class="icon" style="width: 32px; height: 32px; object-fit: cover; border-radius: 50%;">
                        </a>
                        <a href="https://x.com/bloxxxchain?s=21" class="btn btn-icon btn-sm me-2">
                          <img src="https://i.ibb.co/HLJTXgtX/xcom.png" alt="" class="icon rounded-circle" style="width: 32px; height: 32px;">
                        </a>
                        <a href="https://wa.me/17203353834" class="btn btn-icon btn-sm me-2">
                          <img src="https://i.ibb.co/4RdKH5nH/wa.png" alt="" class="icon" style="width: 32px; height: 32px; object-fit: cover; border-radius: 50%;">
                        </a>
                      </div>
                      <p class="pt-6">
                        <script>
                          document.write(new Date().getFullYear());
                        </script>
                        © Bloxxxchain
                      </p>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-6 mb-md-0">
                      <h5>Company</h5>
                      <ul class="list-unstyled">
                        <li><a href="{{ url_for('main.about') }}" class="footer-link d-block pb-2">About</a></li>
                        <li><a href="{{ url_for('main.contact') }}" class="footer-link d-block pb-2">Get in touch</a></li>
                        <li><a href="{{ url_for('main.tos') }}" class="footer-link d-block pb-2">Terms of Service</a></li>
                        <li><a href="{{ url_for('main.privacy_policy') }}" class="footer-link d-block pb-2">Privacy Policy</a></li>
                        <li><a href="{{ url_for('main.cookies') }}" class="footer-link d-block pb-2">Cookies</a></li>
                      </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 mb-6 mb-sm-0">
                      <h5>Documentation</h5>
                      <ul class="list-unstyled">
                        <li><a href="https://abr.business.gov.au/ABN/View?id=82650855459" class="footer-link d-block pb-2">Australian Business Register (ABR)</a></li>
                        <li><a href="{{ url_for('static', filename='files/asic_bloxxxchain.pdf') }}" class="footer-link d-block pb-2">Australian Securities and Investments Commission (ASIC)</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </footer>
            </section>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>

      <!-- Drag Target Area To SlideIn Menu On Small Screens -->
      <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    {% assets "js_all" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block extra_js %}{% endblock %}

    <!-- Page JS -->
  </body>
</html>